*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100dvh;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-size: 4rem;
  line-height: 1;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 2.8rem;
  line-height: 1;
}

p,
ul,
li,
td {
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px 40px 28px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
  max-width: 736px;
  width: 100%;
  row-gap: 41px;
}
@media (max-width: 375px) {
  .card {
    border-radius: 0;
  }
}
.card__img {
  border-radius: 12px;
  object-fit: cover;
}
@media (max-width: 375px) {
  .card__img {
    border-radius: 0;
    height: 171px;
  }
}
@media (max-width: 375px) {
  .card:first-child {
    padding: 0;
  }
}
.card__article {
  display: flex;
  flex-direction: column;
}

.grid {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin: 128px 48px;
}
@media (max-width: 375px) {
  .grid {
    margin: 0;
  }
}

@media (max-width: 375px) {
  .recipe__container {
    padding: 0 24px;
  }
}
.recipe__header {
  display: flex;
  flex-direction: column;
  row-gap: 23px;
}
@media (max-width: 375px) {
  .recipe__header {
    row-gap: 24px;
  }
  .recipe__header h1 {
    font-size: 3.6rem;
  }
  .recipe__header p {
    font-size: 1.59rem;
    line-height: 1.5;
  }
}
.recipe__preparation {
  display: flex;
  flex-direction: column;
  background-color: hsl(330, 100%, 98%);
  padding: 24.5px 24px 16px 28px;
  margin-top: 35px;
  border-radius: 12px;
  row-gap: 16px;
}
@media (max-width: 375px) {
  .recipe__preparation {
    padding: 22px 24px 16px 24px;
  }
}
.recipe__preparation h2 {
  color: hsl(332, 51%, 32%);
  font-size: 2rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}
.recipe__list {
  display: flex;
  flex-direction: column;
  list-style-type: none;
}
.recipe__list-item {
  position: relative;
  padding-left: 40px;
  margin-bottom: 8px;
}
.recipe__list-item::before {
  content: "";
  position: absolute;
  left: 8px;
  top: 11.5px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: hsl(332, 51%, 32%);
}
.recipe__list-item--no-marker {
  padding: 0;
  margin-left: 24px;
  padding-left: 16px;
  text-align: left;
}
.recipe__list-item--no-marker::marker {
  color: hsl(14, 45%, 36%);
  font: 700 1.6rem "Outfit", sans-serif;
  font-weight: 700;
}
.recipe__list-item--no-marker::before {
  content: none;
}
.recipe__list--line {
  border-bottom: 1px solid hsl(30, 18%, 87%);
  padding-bottom: 23px;
}
.recipe__list--numeric {
  list-style: decimal;
}
.recipe__ingredients {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.recipe__ingredients h2 {
  line-height: 1.5;
  margin-bottom: 16.5px;
}
@media (max-width: 375px) {
  .recipe__ingredients {
    margin-top: 26px;
  }
}
.recipe__instructions {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 32px;
}
.recipe__nutrition {
  display: flex;
  flex-direction: column;
  margin-top: 32px;
}
.recipe__nutrition p {
  margin-top: 24px;
  margin-bottom: 12px;
}
.recipe__nutrition-table {
  table-layout: fixed;
  border-collapse: separate;
  border-spacing: 0;
}
.recipe__nutrition-table-row {
  border-bottom: 1px solid red;
}
.recipe__nutrition-table-cell {
  height: 48px;
  padding-left: 32px;
  border-bottom: 1px solid hsl(30, 18%, 87%);
}
.recipe__nutrition-table-cell:nth-child(1) {
  font-weight: 400;
  width: 304px;
}
.recipe__nutrition-table-cell--no-border {
  border: none;
}
.recipe__nutrition-table-cell:nth-child(2) {
  font-weight: 700;
  line-height: 1.5;
  color: hsl(14, 45%, 36%);
}