*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-size: 1.6rem;
  width: 100%;
  min-height: 100dvh;
}

img {
  height: auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: 100%;
}

body {
  background-color: hsl(30, 54%, 90%);
  display: flex;
  justify-content: center;
  font-size: 1.6rem;
}

h1,
h2 {
  font-family: "Young Serif", serif;
  font-weight: 400;
}

h1 {
  color: hsl(24, 5%, 18%);
  font-size: 4rem;
  line-height: 1;
}

h2 {
  color: hsl(14, 45%, 36%);
  font-size: 2.8rem;
}

p,
ul,
li,
td {
  color: hsl(30, 10%, 34%);
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  line-height: 1.5;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 40px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 24px;
  max-width: 736px;
  width: 100%;
  row-gap: 41px;
}
.card__img {
  border-radius: 12px;
  object-fit: cover;
}
.card__article {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.card__article > :nth-child(4) {
  margin: 32px 0;
}

.grid {
  display: flex;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  margin: 128px 48px;
}

.recipe__header {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}
.recipe__preparation {
  display: flex;
  flex-direction: column;
  background-color: hsl(330, 100%, 98%);
  padding: 25px 28px;
  border-radius: 12px;
  row-gap: 12px;
}
.recipe__preparation h2 {
  color: hsl(332, 51%, 32%);
  font-size: 2rem;
  font-weight: 600;
  font-family: "Outfit", sans-serif;
}
.recipe__preparation-list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  list-style-type: none;
}
.recipe__preparation-list-item {
  position: relative;
  padding-left: 50px;
}
.recipe__preparation-list-item::before {
  content: "";
  position: absolute;
  left: 7.65px;
  top: 13.75px;
  transform: translateY(-50%);
  width: 4px;
  height: 4px;
  border-radius: 100%;
  background-color: hsl(332, 51%, 32%);
}