@use "../utils/functions" as function;
@use "../base/variables" as variable;
.article {
 max-width: function.pixel-to-rem(736px);
 padding: function.pixel-to-rem(40px);
 padding-bottom: function.pixel_to_rem(29px);
 background-color: map-get($map: variable.$article-palette, $key: white);
 border-radius: function.pixel-to-rem(24px);

 &__image {
  object-fit: cover;
  border-radius: function.pixel-to-rem(12px);
 }

 &__section-divider {
  border-top: 1px solid
   map-get($map: variable.$article-palette, $key: stone-150);
 }
}

@media (max-width: function.pixel_to_rem(608px)) {
 .article {
  padding: 0;

  &__image {
   border-radius: 0;
  }

  &__section-divider {
   margin-left: function.pixel_to_rem(24px);
   margin-right: function.pixel_to_rem(24px);
  }
 }
}

