@use "../utils/functions" as function;
@use "../base/variables" as variable;
.article {
 max-width: function.pixel-to-rem(736px);
 padding: function.pixel-to-rem(40px);
 padding-bottom: 29px;
 background-color: map-get($map: variable.$article-palette, $key: white);
 border-radius: function.pixel-to-rem(24px);

 &__image {
  object-fit: cover;
  border-radius: function.pixel-to-rem(12px);
 }

 &__section-divider {
  border-top: 1px solid
   map-get($map: variable.$article-palette, $key: stone-150);
 }
}

@media (max-width: function.pixel_to_rem(608px)) {
 .article {
  padding: 0;

  &__image {
   border-radius: 0;
  }

  &__section-divider {
   margin-left: function.pixel_to_rem(24px);
   margin-right: function.pixel_to_rem(24px);
  }
 }
}

// $article-palette: (
//  white: hsl(0, 0%, 100%),
//  stone-100: hsl(30, 54%, 90%),
//  stone-150: hsl(30, 18%, 87%),
//  stone-600: hsl(30, 10%, 34%),
//  stone-900: hsl(24, 5%, 18%),
//  brown-800: hsl(14, 45%, 36%),
//  rose-800: hsl(332, 51%, 32%),
//  rose-50: hsl(330, 100%, 98%),
// );

// $font-primary: "Young Serif", serif;
// $font-secondary: "Outfit", sans-serif;
// $font-regular: 400;
// $font-semibold: 600;
// $font-bold: 700;
// $font-size-sm: 1.6rem;
// $font-size-md: 2rem;
// $font-size-lg: 2.8rem;
// $font-size-xl: 4rem;

// $line-height-100: 1;
// $line-height-150: 1.5;
