@use "../base/variables" as variable;
@use "../utils/functions" as function;

.table {
 border-collapse: collapse;
 table-layout: fixed;
 width: 100%;

 &__row {
  border-bottom: 1px solid
   map-get($map: variable.$article-palette, $key: stone-150);
 }
 &__cell {
  font-family: variable.$font-secondary;
  line-height: variable.$line-height-150;
  font-weight: variable.$font-regular;
  font-size: function.pixel_to_rem(variable.$font-size-sm);
  text-align: start;
  padding: function.pixel_to_rem(11.5px) 0;

  &--header {
   width: 50%;
   padding-left: function.pixel_to_rem(32px);
   color: map-get($map: variable.$article-palette, $key: stone-600);
  }
  &--normal {
   width: 50%;
   padding-left: function.pixel_to_rem(8px);
   color: map-get($map: variable.$article-palette, $key: brown-800);
   font-weight: variable.$font-bold;
  }
 }
}
