@use "colors" as colors;
@use "typography" as typografy;

body {
 background-color: map-get(colors.$palette, stone-100);
 display: flex;
 justify-content: center;
 font-size: 1.6rem;
 //  margin: 128px 48px;
}

h1,
h2 {
 font-family: typografy.$font-young;
 font-weight: typografy.$font-regular;
}

h1 {
 color: map-get(colors.$palette, stone-900);
 font-size: 4rem;
 line-height: 1;
}

h2 {
 color: map-get(colors.$palette, brown-800);
 font-size: 2.8rem;
 line-height: 1;
}

p,
ul,
li,
td {
 color: map-get(colors.$palette, stone-600);
 font-family: typografy.$font-outfit;
 font-weight: typografy.$font-regular;
 line-height: 1.5;
}
